
  <!-- Main -->
  <div id="oliven-page"> <a href="#" class="js-oliven-nav-toggle oliven-nav-toggle"><i></i></a>
    <!-- Sidebar Section -->
    <aside id="oliven-aside">
        <!-- Logo -->
        <div class="oliven-logo">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="">
                <span>Ани <small>&</small> Димитър</span>
                <h6>15.06.2025</h6>
            </a>
        </div>
        <!-- Menu -->
        <nav class="oliven-main-menu">
            <ul>
                <li><a href="index.html#home">Начало</a></li>
                <li><a href="index.html#couple">Ани и Димитър</a></li>
                <li><a href="index.html#story">Нашата история</a></li>
                <li><a href="index.html#friends">Кумуват</a></li>
                <li><a href="index.html#organization">Програма</a></li>
                <li><a href="index.html#whenwhere">Кога и къде</a></li>
                <li><a href="index.html#gift">Потвърдете присъствието си</a></li>
            </ul>
        </nav>
        <!-- Sidebar Footer -->
        <div class="footer1"> <span class="separator"></span>
            <p>Ани и Димитър Сватба<br />15 юни 2025, Вила Юстина</p>
        </div>
    </aside>
    <!-- Content Section -->
    <div id="oliven-main">
      <router-outlet></router-outlet>
        <!-- Footer -->
        <div class="footer2">
            <div class="oliven-narrow-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>
                            <a href="index.html"><img src="assets/images/logo.png" alt=""><span>Ани <small>&</small> Димитър</span></a>
                        </h2>
                        <p class="copyright">Юни 15, 2025 – Вила Юстина</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
  </div>
