<header id="home" class="header valign bg-img parallaxie" style="position: relative; background-image: url('assets/images/slider.jpg'); background-size: cover; background-position: center center;">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
    <div class="container" style="position: relative; z-index: 2;">
        <div class="row">
            <div class="col-md-12 text-center caption">
                <h1 class="animate-box" data-animate-effect="fadeInUp" style="padding-bottom: 300px">ПОКАНА</h1>
                <h1 class="animate-box" data-animate-effect="fadeInUp">Ани & Димтър</h1>
                <h5 class="animate-box" data-animate-effect="fadeInUp">15 ЮНИ, 2025 – Вила Юстина</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="arrow bounce text-center">
                    <a href="index.html#couple"> <i class="ti-heart"></i> </a>
                </div>
            </div>
        </div>
    </div>
</header>


 <!-- Couple -->
 <div id="couple" class="bridegroom clear section-padding bg-pink" style="margin-bottom: 0px">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center animate-box" data-animate-effect="fadeInUp">
                <span >ПОКАНАТА ВАЖИ ЗА</span>
                <h3 class="oliven-couple-title">{{user?.name}}</h3>
                <h4 style="font-size: 35px !important" class="oliven-couple-subtitle">С радост Ви каним да бъдете част от нашия специален ден!</h4>
                <span>Моля да потвърдите присъствието си по-долу</span> 
            </div>
        </div>
    </div>
</div>

<!-- Couple -->
<div id="couple" class="bridegroom clear section-padding bg-pink" style="padding-top: 0px">
    <div class="container">
        <div class="row mb-60">
            <div class="col-md-6">
                <div class="item toright mb-30 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img"> <img src="assets/images/bride.jpg" alt=""> </div>
                    <div class="info valign">
                        <div class="full-width">
                            <h6>Ани Владимирова <i class="ti-heart"></i></h6> <span>Булката</span>
                            <div class="social">
                                <div class="full-width">
                                    <a href="https://www.facebook.com/nasko.dril" class="icon"> <i class="ti-facebook"></i> </a>
                                    <a href="https://www.instagram.com/anyvladimirova/" class="icon"> <i class="ti-instagram"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item mb-30 animate-box" data-animate-effect="fadeInRight">
                    <div class="img"> <img src="assets/images/groom.jpg" alt=""> </div>
                    <div class="info valign">
                        <div class="full-width">
                            <h6>Димитър Димитров<i class="ti-heart"></i></h6> <span>Младоженецът</span>
                            <div class="social">
                                <div class="full-width">
                                    <a href="https://www.facebook.com/mitaka.dimitrov.5" class="icon"> <i class="ti-facebook"></i> </a>
                                    <a href="https://www.instagram.com/idealdimitrow/" class="icon"> <i class="ti-instagram"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Countdown -->
<div id="countdown" class="section-padding bg-img bg-fixed" data-background="assets/images/banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="section-head col-md-12">
                <h4>Ще станем семейство след...</h4> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><span id="days"></span>Дни</li>
                    <li><span id="hours"></span>Часоа</li>
                    <li><span id="minutes"></span>Минути</li>
                    <li><span id="seconds"></span>Секунди</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Our Story -->
<div id="story" class="story section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30">
                <div class="story-img animate-box" data-animate-effect="fadeInLeft">
                    <div class="img"> <img src="assets/images/story.jpg" class="img-fluid" alt=""> </div>
                </div>
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <h4 class="oliven-story-subtitle">Our love.</h4>
                <h3 class="oliven-story-title">Нашата история</h3>
<p>Любов от пръв поглед ли за него бе, от мига в който тя вече не беше дете. Той преследваше я с огън в очите, а дълбоко в нея се запалиха искрите.</p>
<p>Минаха година, две – ставаха все по-сигурни те! С чисти усмивки, желания и страст се завърза техният любовен романс.</p>
<p>Ръка в ръка с безкрайна сила, любовта им вечност е разкрила. Мина лете, мина зима – сред свят и бури, в светлина, Ани и Димитър сбъднаха една мечта.</p>

<h4>10 дек. 2024, Тя каза ДА!</h4>
<p>На десетата година смелост той събра – във вярност да ѝ се врече с надеждата да чуе: "Завинаги обичам те."</p>
<p>С копнеж, желание, без страх, със сълзи на очи и с тихички глас, изрече тя думата “ДА” и щастие обзе нейната душа.</p>
<p>Две съдби високи във вярност се вричат, с пламък негасим, с вечна прегръдка, в обет неделим. Свързани са те – две души, една любов, безкрайни мечти!<br><strong>Ани и Димитър</strong></p>

            </div>
        </div>
    </div>
</div>
<div id="friends" class="bridegroom clear section-padding bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30"> 
                <span class="oliven-title-meta">КУМУВАТ</span>
            </div>
        </div>
        <div class="row mb-60">
            <div class="col-md-6">
                <div class="item toright mb-30 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img"> <img src="assets/images/ivana.jpg" alt=""> </div>
                    <div class="info valign">
                        <div class="full-width">
                            <h6>Ивана Цанкова <i class="ti-heart"></i></h6> <span>Кумата</span>
                            <div class="social">
                                <div class="full-width">
                                    <a href="https://www.facebook.com/ivana.tsankova" class="icon"> <i class="ti-facebook"></i> </a>
                                    <a href="https://www.instagram.com/ivanatsankova/" class="icon"> <i class="ti-instagram"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item mb-30 animate-box" data-animate-effect="fadeInRight">
                    <div class="img"> <img src="assets/images/blago.jpg" alt=""> </div>
                    <div class="info valign">
                        <div class="full-width">
                            <h6>Благовест Сербезов<i class="ti-heart"></i></h6> <span>Кумът</span>
                            <div class="social">
                                <div class="full-width">
                                    <a href="https://www.facebook.com/blagovest.serbezov" class="icon"> <i class="ti-facebook"></i> </a>
                                    <a href="https://www.instagram.com/blagovestserbezov" class="icon"> <i class="ti-instagram"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- See you -->
<div id="seeyou" class="seeyou section-padding bg-img bg-fixed"  data-background="assets/images/banner-3.jpg">
    <div class="container">
        <div class="row">
            <div class="section-head col-md-12 text-center"> 
                <span><i class="ti-heart"></i></span>
                <h4>Очакваме ви с нетърпение!</h4>
                <h3>15.06.2025</h3> 
            </div>
        </div>
    </div>
</div>


<!-- Program Section -->
<div id="whenwhere" class="organization section-padding bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30">
                <span class="oliven-title-meta">Кога и Къде</span>
                <h2 class="oliven-title">Програма на Събитието</h2>
            </div>
        </div>
        <div class="row bord-box bg-img" data-background="assets/images/slider.jpg">
            <!-- Church Ceremony -->
            <div class="col-md-4 item-box" style="heigth: 100%">
                <h2 class="custom-font numb">01</h2>
                <h6 class="title">Църковен Брак</h6>
                <p style="font-weight: bold"><i class="ti-location-pin"></i> Църква "Света Богородица", гр. Пазарджик  
                    <a class="btn btn-secondary" href="https://maps.app.goo.gl/V1dqt559VBDcy4mHA" style="padding: 5px">
                        <svg style="width: 13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg>
                        ВИЖ Упъване
                    </a>
                </p>
                <p style="font-weight: bold"><i class="ti-time"></i> <span>15:00 часа</span></p>
            </div>
            <!-- Wedding Party -->
            <div class="col-md-4 item-box" style="heigth: 100%">
                <h2 class="custom-font numb">02</h2>
                <h6 class="title">Посрещане</h6>
                <p style="font-weight: bold"><i class="ti-location-pin"></i> Вила Юстина, с. Устина  
                    <a class="btn btn-secondary" href="https://maps.app.goo.gl/WhFHFevXjc2Rqois7" style="padding: 5px">
                        <svg style="width: 13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg>
                        ВИЖ Упъване
                    </a>
                </p>
                <p><i class="ti-time"></i> <span>Посрещане от 17:30 ч.</span></p>
            </div>
            <!-- Cake Cutting -->
            <div class="col-md-4 item-box" style="heigth: 100%">
                <h2 class="custom-font numb">03</h2>
                <h6 class="title">Сватбена Церемония</h6>
                <p><i class="ti-direction-alt"></i> Церемония от 18:30 ч.</p>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation -->
<!-- RSVP Section -->
<div id="rsvp" class="section-padding bg-img bg-fixed" data-background="assets/images/banner-2.jpg">
    <div class="container">
        <div class="row" *ngIf="user?.attendance != null">
            <div class="alert alert-success" role="alert">
                Вече сте отговорили на поканата.<br>
            </div>
        </div>
        <div class="row" *ngIf="user?.attendance == null">
            <div class="col-md-6 offset-md-3 bg-white p-40">
                <span class="oliven-title-meta text-center">Потвърдете присъствието си!</span>
                <h2 class="oliven-title text-center">Моля отбележете</h2>
                <br>
                <form class="contact__form" #rsvpForm="ngForm">
                    <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Вашият отговор беше успешно запазен.
                            </div>
                        </div>
                    </div>
                  
                    <!-- form elements -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="font-weight: bold">1. Ще присъствате ли?</label> <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="attendance" [(ngModel)]="attendance" value="yes" id="attendYes" required>
                                    <label class="form-check-label" for="attendYes">Да</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="attendance" [(ngModel)]="attendance" value="no" id="attendNo" required>
                                    <label class="form-check-label" for="attendNo">Не</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <label style="font-weight: bold">
                                2. Моля, напишете имената на всички гости, които ще присъстват:
                            </label><br>
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="guests"
                                    [(ngModel)]="guests"
                                    placeholder="Например: Анна Петрова, Димитър Георгиев"
                                    required>
                            </div>
                        </div>
                        
                        
                  
                        <div class="col-md-12">
                            <label style="font-weight: bold">3. Какъв транспорт ще използвате?</label> <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="transport" [(ngModel)]="transport" value="own" id="transportOwn">
                                <label class="form-check-label" for="transportOwn">Собствен</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="transport" [(ngModel)]="transport" value="provided" id="transportProvided">
                                <label class="form-check-label" for="transportProvided">Организиран от нас</label>
                            </div>
                            <span class="small">*Организираният транспорт ще тръгва от църквата <strong>"Света Богородица"</strong> в Пазарджик в <strong>16:30 ч.</strong> <br>Връщането ще бъде на два курса — първият в <strong>1:00 ч.</strong>, а вторият в <strong>3:00 ч.</strong></span>
                        </div>
                  
                        <div class="col-md-12">
                            <label style="font-weight: bold">4. Какво меню предпочитате?</label> <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="menu" [(ngModel)]="menu" value="standard" id="menuStandard">
                                <label class="form-check-label" for="menuStandard">Стандартно</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="menu" [(ngModel)]="menu" value="vegetarian" id="menuVegetarian">
                                <label class="form-check-label" for="menuVegetarian">Вегетарианско</label>
                            </div>
                        </div>
                            
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="font-weight: bold">6. Допълнителен коментар?</label> <br>
                                <textarea style="color: black; background: #DCDCDC" [(ngModel)]="message" class="form-control" name="message" placeholder="Коментар"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                               <small style="font-size: 10px;"><span style="font-size: 15px; font-weight: bold">Призив!</span><br> 
                                За да допринесете към нашия празник да бъде още по-вълнуваш и приказен не се изисква много освен да носите усмивки и настроение.Ние ще приемем и уважим всеки ваш жест,но ако все пак се чудите с какво да ни дарувате,можете да оставите избора в наши ръце.<br>
                                
                                <span style="font-size: 15px; font-weight: bold">По желание!</span> <br>
                                Както младостта,така и късната пролет са изпълнени с жизненост,чистота и цветове,затова ако желаете можете да се впишете в тематиката на нашето празненство като избягвате строгите тоалети и мрачните цветове,а заложите на свежа елегантност и усещане за топлина и стил.<br>
                                
                                <span style="font-size: 15px; font-weight: bold">Благодарности! </span> <br>
                                Аз - Ани и Аз - Димитър, ще бъдем изключително щастливи,ако приемете нашата покана! <br>
                                <span style="color: red; font-weight: bold">*Моля потвърдете присъствието си до 20.05!</span></small>
                            </div>
                        </div>
                  
                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="btn btn-secondary" style="padding: 5px"
                                      (click)="submit()">Изпрати</span>
                              </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

